ion-card {
    color: rgb(255, 255, 255);
    opacity: 0.5;
    background: #12124e;
    margin: 10px;
  
    --background: rgb(162, 0, 255);
  }
  
  @media (prefers-color-scheme: dark) {
    ion-card {
      --background: rgba(197, 49, 255, 0.596);
    }
  }
.controlAnim{
  padding-left: 5%;
    
} 

.buttAnim{
  font-size: smaller;
  
}